<!--
  Generated template for the RegistroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-toolbar color='dark'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
      <ion-title>Publica tu anuncio</ion-title>
    </ion-toolbar>
  </ion-header>




<ion-content  >





<!-- 
<div class="app-icon">
        <ion-icon name="ios-chatbubbles-outline" ></ion-icon>
      </div> -->

<ion-list inset  >




  <form  (ngSubmit)="ingresa(user)" [formGroup]="todo">
 
      <ion-list inset>

      <label color='dark'>Titulo</label>
      <ion-item>
            <ion-input formControlName="titulo" maxlength="9" name='titulo' id="titulo" type="text" required [(ngModel)] = "user.titulo"></ion-input>
      </ion-item>


      <div style='height: 10px' ></div>

        <label color='dark'>Descripcion</label>
      <ion-item>
            <ion-input formControlName="descripcion" maxlength="9" name='descripcion' id="descripcion" type="text" required [(ngModel)] = "user.descripcion"></ion-input>
      </ion-item>


      <div style='height: 10px' ></div>


      <label color='dark'>Categoria</label>
     
      <ion-select formControlName="categoria" name='categoria' id="categoria" [(ngModel)]="user.categoria" >
      <ion-option *ngFor="let item of categorias" [value]="item.categoria__nombre"></ion-option>
      </ion-select>


      <div style='height: 10px' ></div>

      <label color='dark'>Subcategoria</label>
      <ion-item>
            <ion-input formControlName="subcategoria" maxlength="9" name='subcategoria' id="subcategoria" type="text" required [(ngModel)] = "user.subcategoria"></ion-input>
      </ion-item>


      <div style='height: 10px' ></div>

      <label color='dark'>Distrito</label>
      <ion-item>
            <ion-input formControlName="distrito" maxlength="9" name='distrito' id="distrito" type="text" required [(ngModel)] = "user.distrito"></ion-input>
      </ion-item>


      <div style='height: 10px' ></div>

      <label color='dark'>Costo</label>
      <ion-item>
            <ion-input formControlName="costo" maxlength="9" name='costo' id="costo" type="text" required [(ngModel)] = "user.costo"></ion-input>
      </ion-item>


      <div style='height: 10px' ></div>

      <label color='dark'>Telefono</label>
      <ion-item>
            <ion-input formControlName="telefono" maxlength="9" name='telefono' id="telefono" type="text" required [(ngModel)] = "user.telefono"></ion-input>
      </ion-item>

      <div style='height: 10px' ></div>

      <label color='dark'>Whatsapp</label>
      <ion-item>
            <ion-input formControlName="whatsapp" maxlength="9" name='whatsapp' id="whatsapp" type="texttext" required [(ngModel)] = "user.whatsapp"></ion-input>
      </ion-item>


    
     
      <div style='height: 10px' ></div>
      <label *ngIf='loger==1' color='dark'>Correo Electronico</label>
      <ion-item *ngIf='loger==1'>
            <ion-input  formControlName="email"  name='email' id="loginField" type="email" required [(ngModel)] = "user.email"></ion-input>
      </ion-item>

      <div style='height: 10px'></div>


     

      </ion-list>



      <button  round ion-button type="submit" color='dark' block [disabled]="!todo.valid">Publicar</button>
    </form> 




<!-- 
 <ion-row padding>Si ya tienes cuenta ingresa <span [navPush]="loginPage" style='padding-left: 9px;text-decoration: underline;
'> AQUI</span></ion-row>
 -->
<!-- 
<button round ion-button  color='white' block  [navPush]="loginPage" >Ingresar</button> -->

  <!--    <button round ion-button  color='white' block  [navPush]="registrosociaPage" >Conviertete en socia</button>-->


</ion-list>



</ion-content>

<!-- <mytabs></mytabs>


 -->