page-detalleproducto {
        //margin-top: 50%


        font-family: 'Comfortaa';

         .tachar{text-decoration:line-through;}



         .socia{

         	background: url(/assets/fondo.png) no-repeat center center;

         	padding: 15px;
         	//background: #123;
         }

         .escogido{

         	background: url(/assets/fondo.png) no-repeat center center;

         	height: 103px;


         }

}
