<!--
  Generated template for the DetalleproductoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<!-- 
<img src="{{host}}{{producto.photo}}" style='opacity: 0.3;'> -->
<!-- 
<ion-header>
    <ion-navbar color='dark'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>


      <ion-title>Donde y cuando </ion-title>

      
                     '>{{book}}</ion-badge> 
                            
     
      
    

        


    </ion-navbar>
  </ion-header>
 -->


<ion-content  >


<div padding style='    margin-bottom: -16px;'>
<ion-icon (click)='closeModal()'  style='font-size: 32px;
    float: right;' name="close"></ion-icon>

<h4  class='animated' style='font-family:"Comfortaa";line-height: 26px;'>{{producto.nombre}}</h4>



<h6  style='font-family:"Comfortaa";line-height: 25px;'>{{producto.descripcion}}</h6>

<h6 *ngIf='producto.precio!=producto.precio_descuento' style='font-family:"Comfortaa"'>Precio :  <span style='font-family: "M PLUS Rounded 1c";text-decoration:line-through;' >Antes S/.{{producto.precio*numero}}</span><span  style='font-family: "M PLUS Rounded 1c"; margin-left: 14px;' color='light'>Ahora S/.{{ahora}}</span>
</h6> 

<h6 *ngIf='producto.precio==producto.precio_descuento' style='font-family:"Comfortaa"'>Precio:<span  style='font-family: "M PLUS Rounded 1c";margin-left: 14px;'> S/.{{producto.precio*numero}}</span>
</h6> 

<h6 style='font-family: "M PLUS Rounded 1c"'>Duracion : {{producto.duracion_servicio}} min</h6>


<ion-item >
  <ion-label>Cuantas servicios deseas?</ion-label>
  <ion-select [(ngModel)]="numero" interface="popover" (ionChange)="actualizaprecio(numero)">
    <ion-option value="1">1</ion-option>
    <ion-option value="2">2</ion-option>
    <ion-option value="3">3</ion-option>
    <ion-option value="4">4</ion-option>
  </ion-select>
</ion-item>


</div>


 <ion-grid class='socia'>
  <ion-row>
    <ion-col>
      <img class='animated flipInY' style='border-radius:50%;' src="{{host}}{{socia_detalle.socia__photo}}">

    </ion-col>
    <ion-col style='padding-top: 40px;text-align: center;'>
      
    <h2>{{socia_detalle.socia__nombre}}</h2>


    <h6>{{socia_detalle.socia__descripcion_titulo}}</h6>

    </ion-col>
  </ion-row>



<h6>{{socia_detalle.socia__descripcion_socia}}</h6>

<h6>Tiempo experiencia: {{socia_detalle.socia__texperiencia}}</h6>


</ion-grid>


<div padding>
<ion-grid>


<h6>Puedes elegir una de nuestras socias </h6>


  <ion-row>
    <ion-col  [ngClass]="{'escogido':s.escogido==true}"  (click)= 'escogersocia(s)' col-4 style='text-align: center;padding: 15px;
    border-radius: 6px;' *ngFor = 'let s of producto.socias' >


      <img style='border-radius:50%;' src='{{host}}{{s.socia__photo}}'>
      <p>{{s.socia__nombre}}</p>
    </ion-col>

  </ion-row>
 
 </ion-grid>

</div>





</ion-content>

<ion-footer>

<ion-toolbar>

<button ion-button full round color='dark' (click)='asignar(producto,numero)' class="fadeIn"> Lo quiero</button>


</ion-toolbar>


</ion-footer>
